/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3F51B5; 
  --ifm-color-primary-dark: #37469B;
  --ifm-color-primary-darker: #334293;
  --ifm-color-primary-darkest: #2B377A;
  --ifm-color-primary-light: #4D64D8;
  --ifm-color-primary-lighter: #5B70DA;
  --ifm-color-primary-lightest: #7C91F0;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffb100;
  --ifm-color-primary-dark: #438fc7;
  --ifm-color-primary-darker: #4088bc;
  --ifm-color-primary-darkest: #346d96;
  --ifm-color-primary-light: #5AA9EE;
  --ifm-color-primary-lighter: #68B4FF;
  --ifm-color-primary-lightest: #85C5FF;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer-social-link {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-social-link:hover {
  transform: scale(1.15);
}

.footer-social-link:active {
  transform: scale(0.95); /* Efekt stisknutí tlačítka */
}